rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /blockedDates/{date} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email == 'ashleysolomonvascular@gmail.com';
    }
  }
}
